/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 25, 2017, 3:25:12 PM
    Author     : servando
*/
.box{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    background-color: rgba(49,54,76,0.95);
    width: 42%;
    height: 100%;
    border: .5px solid #F4F4F5;
    margin-top: auto;
    margin-bottom: auto;
}

 html, body{ 
     height: 100%; 
     margin: 0; 
     padding: 0;
 }
 

.map {
    height: 100%;
    width: 58%;
    position:absolute!important;
    top: 0;
    margin: 0; 
    padding: 0;
    right: 0;
}

.titles{
   color: #F4F4F5; 
   font-size: 13pt;
   font-family: verdana;
   padding: 0;
   margin: 0;
}

.text{
   color: #BFCAC0; 
   font-size: 13pt;
   font-weight: bold;
   margin: 0;
   font-family: verdana;
   text-align: left;
}
.element{
    width: 100%;
    position: relative;
    height: 140px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.boton{
    width: 60%;
    text-align: center;
    left: 20%;
    padding: 1% 1.5%;
    bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    border-radius: 2px;
    background: lightgray;
    color: #31364C;
}

.boton:hover{
        background-color: #4CAF50;

}

button{
    background-color: transparent;
    border: none;
    display: block;
    margin: 0 auto;
    position: relative;
    font-size: 15pt;
    font-family: verdana;
    padding-left: 4%;
    color: #3333cc;
    font-weight: bold;
    padding-bottom: 1%; 
}


.image3{
    width: 12.5%;
    height: auto;
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 0;
}
